<h1>Listing teaching_formats</h1>

<table class = "table-condensed">
  <tr>
    <th>Format</th>
    <th>Actions</th>
  </tr>

<% @teaching_formats.each do |teaching_format| %>
  <tr>
    <td><%= teaching_format.format %></td>
    <td>
      <%= link_to 'Show', teaching_format, :class => "btn btn-default btn-xs" %>
      <%= link_to 'Edit', edit_teaching_format_path(teaching_format), :class => "btn btn-primary btn-xs" %>
      <%= link_to 'Destroy', teaching_format, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teaching format', new_teaching_format_path, :class => "btn btn-success btn-sm" %>
