<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#medicscollapse<%= q %>">
          Medical Students
        </a>
      </h4>
    </div>
    <div id="#medicscollapse<%= q %>" class="panel-collapse collapse in">
      <div class="panel-body">
          <ul class="list-group">
          	<% @responses = Response.to_question(q).of_profession(MEDICS) %>

          	<% @responses.each do |r| %>
              <% unless r.text.empty? %>
				        <li class="list-group-item"><%= r.text %></li>
              <% end %>
			     <% end %>
		  </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#nursescollapse<%= q %>">
          Nursing Students
        </a>
      </h4>
    </div>
    <div id="#nursescollapse<%= q %>" class="panel-collapse collapse in">
      <div class="panel-body">
          <ul class="list-group">
          	<% @responses = Response.to_question(q).of_profession(NURSES) %>

          	<% @responses.each do |r| %>
               <% unless r.text.empty? %>
				        <li class="list-group-item"><%= r.text %></li>
			         <% end %>
            <% end %>
		  </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#paracollapse<%= q %>">
          Paramedic Students
        </a>
      </h4>
    </div>
    <div id="#paracollapse<%= q %>" class="panel-collapse collapse in">
      <div class="panel-body">
          <ul class="list-group">
          	<% @responses = Response.to_question(q).of_profession(PARAMEDICS) %>

          	<% @responses.each do |r| %>
				       <% unless r.text.empty? %>  
                <li class="list-group-item"><%= r.text %></li>
              <% end %>
			      <% end %>
			<br />
		  </ul>
      </div>
    </div>
  </div>
</div>