<h1>Feedback Surveys</h1>

<br />   
    <% @formats.each do |n| %>
    	<div class = "panel panel-<%= n.colour %>">
    	<div class = "panel-heading"><h3 class = "panel-title"><%= n.format %>s</h3></div>
    	<div class = "panel-body">
    	<table class = "table table-condensed">
	 	  <tr>
	 		<th width = "10%">Date</th>
	 		<th width = "10%">Title</th>
	 		<th width = "10%">Feedback Results</th>
	 	  </tr>

	 	
	 	<% builder = TeachingSession.of_format(n.format) %>  
	 	

	 	<% builder.each do |x| %>
	 		<% if x.survey.present? %>
	 			<tr>
	 				<td><%= x.date %></td>
	 				<td><%= x.title %></td>
	 				<td>
	 					<%=link_to("View Feedback", { controller: "analytics", action: "feedback", :survey_id => x.survey.id}, :class => "btn btn-xs btn-river")%>
	 				</td>
	 			</tr>
	 		<% end %>
	 	<% end %>
		
	   	</table>
		</div>
		</div>
	<% end %>