<%= simple_form_for(@student) do |f| %>
  <div class = <div class="alert alert-danger">
    <%= f.error_notification %>
  </div>

  <div class="form-inputs">
    <%= f.input :student_num %>
    <%= f.input :fname %>
    <%= f.input :lname %>
    <%= f.input :university %>
    <%= f.input :course %>
    <%= f.input :year %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
