      <%= simple_form_for @student, :url => { :action => 'profile_complete', :controller => "students"}, :method => "post" do |s| %>
               
          <%= s.error_notification %>

          <%= s.input :student_num, :required => true, :label => "Student Number", :placeholder => "UoS Students - Please include the library digit (e.g 4)" %><br />
               
          <%= s.input :fname, :required => true, :label => "First Name", :placeholder => "First name" %><br />
               
          <%= s.input :lname, :required => true, :label => "Last Name", :placeholder => "Last name" %><br />
               
          <%= s.input :university, :label => "University", :collection => UNIS, :required => true%><br />
               
          <%= s.input :course, :label => "Course", :collection => ALL_PROFESSIONS  ,:required => true %><br />
               
          <%= s.input :year, :label => "Year", :collection => YEARS, :required => true %><br />

          <%= s.hidden_field :user_id %>

          <div class="form-actions">
               <%= s.button :submit, "Complete Profile", :class => 'btn btn-nephritis btn-block' %>
          </div>

     <% end %>


