<p id="notice"><%= notice %></p>

<p>
  <b>Survey:</b>
  <%= @completed_survey.survey_id %>
</p>

<p>
  <b>Student num:</b>
  <%= @completed_survey.student_num %>
</p>

<p>
  <b>Complete:</b>
  <%= @completed_survey.complete %>
</p>


<%= link_to 'Edit', edit_completed_survey_path(@completed_survey) %> |
<%= link_to 'Back', completed_surveys_path %>
