<h1>My Certificates & Feedback</h1>

<br />

<% if fb_waiting > 0 %>
<div class="alert alert-info">
	<div class = "row">
		<div class = "col-md-1" align = "center">
			<h1><i class = "fa fa-user-md"></i></h1>
		</div>
		<div class = "col-md-7">
			<h5><br />
				<strong>Information:</strong>
				You have <%= fb_waiting %> feedback questionairre<% if fb_waiting > 1 %>s<%end%> waiting for completion. <br />
				You will need to complete these before you can access the certificates for this teaching.
			</h5>
		</div>
	</div>
</div>
<% end %>

<br />

<% formats = @formats %>
<% me = @current_student %>
   
    <% formats.each do |n| %>
    	<div class = "panel panel-<%= n.colour %>">
    	<div class = "panel-heading"><h3 class = "panel-title"><%= n.format %>s</h3></div>
    	<div class = "panel-body">
    	<table class = "table table-condensed">
	 	  <tr>
	 		<th width = "10%">Date</th>
	 		<th width = "10%">Title</th>
	 		<th width = "10%">Feedback & Certificates </th>
	 	  </tr>
	 	<% me.attendances.sort! { |a,b| a.date <=> b.date } %>
    	<% me.attendances.each do |builder| %>
	    	<% if builder.teaching_session.teaching_format.format == n.format %>
		       <tr>
		       	 <td><%= shortdate(builder.teaching_session.date) %></td>
		         <td><%= builder.teaching_session.title %></td>

		         <td>
		            <% if builder.fb_complete != true %>
		         	  	<% if builder.teaching_session.fb_not_required == true  %>
		         	  		<%= link_to 'Certificate', attendance_path(builder,format: "pdf"), class: "btn btn-belieze btn-xs" %>
		         	  	<% else %>
		         	  		<% unless builder.teaching_session.survey.nil? %>
		         	  			<%= link_to "Feedback", 
		         	  		    	new_completed_survey_path(:student_num => me.student_num,
		         	  								  :survey_id => builder.teaching_session.survey.id), 
		         	  		    					  class: "btn btn-wisteria btn-xs"  %>
		         	  		<% else %>
		         	  			Awaiting Feedback Survey
		         	  		<% end %>
		         	  	<% end %>
		         	<% else %>
		         		<%= link_to 'Certificate', attendance_path(builder,format: "pdf"), class: "btn btn-belieze btn-xs" %>
		         	<% end %>
		         </td>

		       </tr>
		    <% end %>
		<% end %>
	   </table>
	</div>
	</div>
	<% end %>
