<h1>Recorded attendances</h1>

<br />

<table class="table table-condensed table-striped">
  <tr>
    <th><%= sortable "student_id", "Student"%></th>
    <th><%= sortable "teaching_session_id", "Teaching session"%></th>
    <th>Actions</th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.student_id %></td>
    <td><%= attendance.teaching_session.title_and_date %></td>
    <td>
      <%= link_to 'Show', attendance, class: "btn btn-nephritis btn-xs"  %>
      <%= link_to 'Edit', edit_attendance_path(attendance), class: "btn btn-river btn-xs"  %>
      <%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-alizarin btn-xs"  %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance', new_attendance_path, class: "btn btn-nephritis btn-sm"  %>

<br />

<h2>Import Topics</h2>

<div class = "row">
  <div class = "col-md-6">
  
  <div class = "panel panel-river">
      <div class = "panel-heading"><h3 class ="panel-title">Instructions</h3></div>
      <div class = "panel-body">
        <ol>
          <li>Name column 1 - student_id</li>
          <li>Name column 2 - teaching_session_id</li>
          <li>Save as .csv file</li>
          <li>Select file (.csv)</li>
          <li>Import attendances</li>
      </ol>
      </div>
    </div>
    
  </div>
  <div class = "col-md-6">
    
    <div class = "panel panel-wisteria">
      <div class = "panel-heading"><h3 class ="panel-title">Record attendance</h3></div>
      <div class = "panel-body">
        <%= form_tag import_attendances_path, multipart: true do %>
          <%= file_field_tag :file %>
          <br />
          <%= submit_tag "Import", class: "btn btn-wisteria btn-sm" %>
        <% end %>
      </div>
    </div>

  </div>
</div>  


<br />

<h2>Attendance Register</h2>

<% @teaching_sessions.each do |teaching_session| %>
      <h4><%= teaching_session.title %></h3>

      <br />
     
      <% teaching_session.students.each do |student| %>
        <li><%= student.fname %> <%= student.lname %></li>
      <% end %>

       <br />
           
<% end %>

