<!DOCTYPE html>
<html>
<head>
  <title>WessexCCP</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
   

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    
	    <a class="navbar-brand" href=<%= root_path %> >Wessex CCP Portal</a>
	  </div>
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  	<% if registration_complete? %>
	  	<div class="collapse navbar-collapse navbar-ex1-collapse">
	    	<ul class="nav navbar-nav">
	      	<li><%= link_to "Home", root_path  %></li>
	      	<% if admin? %>
	      		<li><%= link_to "News", articles_path  %></li>
	      	<% end %>
	      	

	      	 <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><%= link_to "Curriculum", pages_curriculum_path  %></li>
		          <% if admin? %>
		          	<li><%= link_to "Units", units_path %></li>
		          	<li><%= link_to "Themes", themes_path %></li>
		          	<li><%= link_to "Topics", topics_path %></li>
		          	<li><%= link_to "Outcomes", outcomes_path %></li>
		          <% end %>
		        </ul>
		      </li>

			<% if student? %>
		      	<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio 
			    	<% if fb_waiting > 0 %>
			    		<span class="badge badge-important"><%= fb_waiting %></span>
			    	<% end %>
			    	<b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      <li><%= link_to "Certificates & Feedback", portfolio_my_attendance_path %></li>
			    </ul>
			  	</li>
			<% end %>


	      	<% if admin? %>	
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><%= link_to "Students", students_path %></li>
		          <li><%= link_to "Teaching Sessions", teaching_sessions_path %></li>
		          <li><%= link_to "Teaching Format", teaching_formats_path %></li>
		          <li><%= link_to "Attendance", attendances_path %></li>
		          <!--<li>< link_to "Completed Outcomes", completed_outcomes_path %></li> -->
		        </ul>
		      </li>
		  <% end %>
	    </ul>
	    <ul class = "nav navbar-nav navbar-right">
			<% if student? %>

			<li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

		        	

		        	<%= current_user.student.full_name %><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="/registration/edit_profile"><i class="fa fa-user fa-fw"></i></span> Edit Profile</a></li>
		          <li><a href="/users/edit"><i class="fa fa-edit fa-fw"></i></span> Edit Account</a></li>
		          <li>
		          	<%= link_to destroy_user_session_path, method: :delete do %>
  						<i class="fa fa-sign-out fa-fw"></i> Sign Out
					<% end %>
		        </ul>
		      </li>
			<% end %>
			<% end %>
		</ul>
	  </div>
	</div><!-- /.navbar-collapse -->
	</nav>

	<!-- flash notices -->
	<div class="container">
  		<% flash.each do |name, msg| %>
    	<div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
      		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      		<%= msg  %>
    		</div>
  		<% end %>
  		<!-- Rest of content -->
	</div>

	
		<div class = "col-md-12">
			<%= yield %>
		</div>
	

</body>
</html>
